@{
    ViewBag.Title = "Routes";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Travel Way</title>
    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    <link href="~/Content/Routes.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/Content/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <wrapper class="wrapper">
        <header id="routes-header">
            <a href="/Home/Index"><img src="~/Content/images/logo.png" id="logo-routes" /></a>
            <fieldset id="routes-fieldset">
                <label><b><a href="/Home/Index">На главную. ||</a></b> Город отправления: <b>@ViewBag.SearcherOriginal.From</b> || Город прибытия: <b>@ViewBag.SearcherOriginal.To</b></label>
                <br />
                <label>Дата отправки: <b>@ViewBag.Date</b></label>
            </fieldset>
        </header>
        <div style="height:100px;"></div>
        <content>

            <br />
            @if (!ViewBag.isFound)
            {
                <h3>Маршруты по Вашему запросу не найдены!</h3>
                //
                for (int i = 0; i < 30; i++)
                {
                    <br />
                }
            }
            else
            {
                foreach (var ticket in ViewBag.Tickets)
                {
                    <div class="container m-auto" >
                        <div class="row">
                            <div class="col-2" style="border: 1px solid; ">
                                <h5>@ticket.AirCompany</h5>
                            </div>
                            <div class="col-8 " style="border: 1px solid ; ">

                                <div class="row m-1">

                                    <div class="col-3 " style="border: 1px solid ; ">
                                        <h6>@ViewBag.SearcherOriginal.From</h6>
                                    </div>
                                    <div class="col-6 " style="border: 1px solid ; ">
                                        <h6>Цена: @ticket.Cost тг</h6>
                                        <h6>Время вылета: @ticket.Time </h6>
                                    </div>
                                    <div class="col-3 " style="border: 1px solid ; ">
                                        <h6>@ViewBag.SearcherOriginal.To</h6>
                                    </div>

                                </div>
                            
                            </div>
                            <div class="col-2 " style="border: 1px solid; ">
                                <a href="@ticket.SourceSiteURL" style="color:grey">Источник</a>
                            </div>
                        </div>
                    </div>
                    <div style="height: 10px;"/>
 
                }

            }

        </content>
    </wrapper>
     
</body>
</html>